.venv
.env
.gitconfig
.DS_Store
/data/data.csv
/__pycache__
**/__pycache__
.idea
/transfermarket/TO_DELETE_clubs.csv
/transfermarket/merged_data.csv
/transfermarket/ClubGrid Logo Labelling - ALL_DATA.csv