<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Football Club Grid Game</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
</head>

<body>
<script src="{{ url_for('static', filename='services.js') }}"></script>
<script src="{{ url_for('static', filename='cell.js') }}"></script>
<script src="{{ url_for('static', filename='grid.js') }}"></script>
<script src="{{ url_for('static', filename='info.js') }}"></script>
<script src="{{ url_for('static', filename='scripts.js') }}"></script>

<div>
    <div>
        <div class="horizontal-container">
            <h1>Club Grid</h1>
            <button onclick="showInfoModal()">Info</button>
        </div>
        <span class="intro">Click on a cell and type a club which satisfies both the row's and column's condition!</span>

        <div class="horizontal-container">
            <h3 class="grid-title" gridId="{{ grid_id }}">Grid #{{ grid_id }}</h3>
            <h3>Guesses Left: <span id="guesses"></span></h3>
            <h3>Score: <span id="score"></span></h3>
        </div>

        <div class="horizontal-container">
            <button onclick="showGridSelectionModal()">Play Previous Grids</button>
            <button class="view-results">View Results</button>
        </div>
    </div>

    <br>

    <div class="container">
        <!-- Top-left corner is empty for the grid layout -->
        <div class="empty-cell"></div>
        <div class="condition">{{ col_conditions[0].description }}</div>
        <div class="condition">{{ col_conditions[1].description }}</div>
        <div class="condition">{{ col_conditions[2].description }}</div>

        <!-- Row 1 -->
        <div class="condition">{{ row_conditions[0].description }}</div>
        <div id=1 rowCond="{{ row_conditions[0].id }}" colCond="{{ col_conditions[0].id }}"
             onclick="showClubSelectionModal(this)" class="grid-cell grid-cell-active"></div>
        <div id=2 rowCond="{{ row_conditions[0].id }}" colCond="{{ col_conditions[1].id }}"
             onclick="showClubSelectionModal(this)" class="grid-cell grid-cell-active"></div>
        <div id=3 rowCond="{{ row_conditions[0].id }}" colCond="{{ col_conditions[2].id }}"
             onclick="showClubSelectionModal(this)" class="grid-cell grid-cell-active"></div>

        <!-- Row 2 -->
        <div class="condition">{{ row_conditions[1].description }}</div>
        <div id=4 rowCond="{{ row_conditions[1].id }}" colCond="{{ col_conditions[0].id }}"
             onclick="showClubSelectionModal(this)" class="grid-cell grid-cell-active"></div>
        <div id=5 rowCond="{{ row_conditions[1].id }}" colCond="{{ col_conditions[1].id }}"
             onclick="showClubSelectionModal(this)" class="grid-cell grid-cell-active"></div>
        <div id=6 rowCond="{{ row_conditions[1].id }}" colCond="{{ col_conditions[2].id }}"
             onclick="showClubSelectionModal(this)" class="grid-cell grid-cell-active"></div>

        <!-- Row 3 -->
        <div class="condition">{{ row_conditions[2].description }}</div>
        <div id=7 rowCond="{{ row_conditions[2].id }}" colCond="{{ col_conditions[0].id }}"
             onclick="showClubSelectionModal(this)" class="grid-cell grid-cell-active"></div>
        <div id=8 rowCond="{{ row_conditions[2].id }}" colCond="{{ col_conditions[1].id }}"
             onclick="showClubSelectionModal(this)" class="grid-cell grid-cell-active"></div>
        <div id=9 rowCond="{{ row_conditions[2].id }}" colCond="{{ col_conditions[2].id }}"
             onclick="showClubSelectionModal(this)" class="grid-cell grid-cell-active"></div>
    </div>
</div>

<div onclick="exitModal(event)" class="modal-overlay">
    <div class="club-selection-modal">
        <div>
            <input oninput="listOptions()" type="text" class="search-input" placeholder="Search...">
            <div class="dropdown-container"></div>
        </div>
    </div>
</div>

<div onclick="exitModal(event)" class="modal-overlay-extra"></div>
</body>

</html>
