<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Football Club Grid Game</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
</head>

<body>
<script src="{{ url_for('static', filename='grid.js') }}"></script>
<script src="{{ url_for('static', filename='info.js') }}"></script>
<script src="{{ url_for('static', filename='scripts.js') }}"></script>

<div>
    <div>
        <h1>Club Grid</h1>
        <button onclick="showInfoModal()">Info</button>
        <h3 class="grid-title" gridId="{{ grid_id }}">Grid #{{ grid_id }}</h3>
        <button onclick="showGridSelectionModal()">Show Previous Grids</button>
    </div>


    <div class="container">
        <!-- Top-left corner is empty for the grid layout -->
        <div class="empty-cell"></div>
        <div class="condition">{{ col_conditions[0].description }}</div>
        <div class="condition">{{ col_conditions[1].description }}</div>
        <div class="condition">{{ col_conditions[2].description }}</div>

        <!-- Row 1 -->
        <div class="condition">{{ row_conditions[0].description }}</div>
        <div rowCond="{{ row_conditions[0].id }}" colCond="{{ col_conditions[0].id }}"
             onclick="showClubSelectionModal(this)" class="grid-cell"></div>
        <div rowCond="{{ row_conditions[0].id }}" colCond="{{ col_conditions[1].id }}"
             onclick="showClubSelectionModal(this)" class="grid-cell"></div>
        <div rowCond="{{ row_conditions[0].id }}" colCond="{{ col_conditions[2].id }}"
             onclick="showClubSelectionModal(this)" class="grid-cell"></div>

        <!-- Row 2 -->
        <div class="condition">{{ row_conditions[1].description }}</div>
        <div rowCond="{{ row_conditions[1].id }}" colCond="{{ col_conditions[0].id }}"
             onclick="showClubSelectionModal(this)" class="grid-cell"></div>
        <div rowCond="{{ row_conditions[1].id }}" colCond="{{ col_conditions[1].id }}"
             onclick="showClubSelectionModal(this)" class="grid-cell"></div>
        <div rowCond="{{ row_conditions[1].id }}" colCond="{{ col_conditions[2].id }}"
             onclick="showClubSelectionModal(this)" class="grid-cell"></div>

        <!-- Row 3 -->
        <div class="condition">{{ row_conditions[2].description }}</div>
        <div rowCond="{{ row_conditions[2].id }}" colCond="{{ col_conditions[0].id }}"
             onclick="showClubSelectionModal(this)" class="grid-cell"></div>
        <div rowCond="{{ row_conditions[2].id }}" colCond="{{ col_conditions[1].id }}"
             onclick="showClubSelectionModal(this)" class="grid-cell"></div>
        <div rowCond="{{ row_conditions[2].id }}" colCond="{{ col_conditions[2].id }}"
             onclick="showClubSelectionModal(this)" class="grid-cell"></div>
    </div>

    <h3>Guesses Left: <span id="guesses"></span></h3>
    <button class="view-results">View Results</button>
</div>

<div onclick="exitModal(event)" class="modal-overlay">
    <div class="club-selection-modal">
        <div>
            <input oninput="listOptions()" type="text" class="search-input" placeholder="Search...">
            <div class="dropdown-container"></div>
        </div>
    </div>
</div>

<div onclick="exitModal(event)" class="modal-overlay-extra"></div>
</body>

</html>
